body {
    background-color: #EAF6F6;
}
h1 {
    color: #66BFBF;
}
h3 {
    color: #66BFBF;
}
hr {
    border-color: gray;
    border-style: dotted none none;
    height: 0px;
    width: 5%;
    border-width: 5px;
}
img{
    height: 200px;
    width: 200px;
}